.ta-editor.ta-html, .ta-scroll-window.form-control,.ta-scroll-window > .ta-bind{
	    min-height: 50px !important;
}
.statictoolbar{
    height:50px;
    z-index: 9999;
    background-color: white;
    padding: 0px 15px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #F8F8F8;
}
.sticky + .auther-tmp-container {
  padding-top: 50px;
}
.auther-tmp-container{
	padding: 0px 15px;
}