<div>
    <div text-angular-toolbar ta-toolbar="at.toolBarFeatures" name="statictoolbar" class="statictoolbar" id="statictoolbar" ng-class="{'sticky':at.boolChangeClass}"></div>
    <div class="auther-tmp-container">
        <div class="instructiontext">
            Enter question instruction
            <div text-angular ng-model="at.currentQuestion.questionInstruction" ta-default-wrap="p" ta-target-toolbars='statictoolbar'> </div>
            <br />
            <div>
            </div>
        </div>
        <div id="questionContainer">
            Enter question information(or Hint text for ans)
            <div text-angular ng-model="at.currentQuestion.questionInfo" ta-default-wrap="p" ta-target-toolbars='statictoolbar'> </div>
            <br />
            <div>
            </div>
        </div>
        <div>
            <uib-tabset>
                <uib-tab select="at.setSelectedQuestion($index)" ng-repeat="question in at.currentQuestion.question" heading="{{at.questionTitle}} {{$index+1}}">
                    <!-- <fibt-auth></fibt-auth> -->
                    <mcmq-auth question="question"> </mcmq-auth>
                </uib-tab>
                <!-- <i class="fa fa-plus-circle  pull-right" aria-hidden="true" ng-click="at.addQuestion()"></i>
                <i class="fa fa-trash pull-right" ng-click="at.deleteQuestion()" aria-hidden="true"></i> -->
            </uib-tabset>
        </div>
        <pre ng-class="at.currentSection?'bg-success':'bg-danger'">
		        <b>Select the option</b>
		        <label ng-repeat="sectionname in at.sections"><input type="radio" ng-change="at.sectionChanger()" name="4" ng-value="sectionname" ng-model="at.$parent.currentSection"/>{{sectionname}} </label>
		</pre>
        <button class="btn btn-success pull-right" ng-click="at.sendData()">Save Question</button>
    </div>
</div>
