<div>
    <div ng-bind-html="question.instruction" class="alert alert-info"> </div>
    <div ng-bind-html="question.information"> </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <p ng-bind-html="question.questiontext"></p>
            <div ng-repeat="option in question.options">
                <label class="table-row">
                    <span class="table-cell">
                        <input class="radio-margin-right" type="radio" name="{{$parent.$index}}" ng-model="question.userAns" value="{{$index}}" /> 
                    </span>
                    <span ng-bind-html="option.content" ></span>
                    <span class="table-cell tick-padding-left">
                        <i class="fa fa-check-circle" aria-hidden="true" ng-show="$parent.isSubmited&&option.isAns"></i>
                        <i class="fa fa-times-circle" aria-hidden="true" ng-show="$parent.isSubmited&&(question.userAns==$index)&&!option.isAns"></i>
                    </span>                    
                </label>
            </div>
        </div>
    </div>
</div>
