<div>
    <div ng-bind-html="question.questionInstruction" class="alert alert-info"> </div>
    <div ng-bind-html="question.questionInfo"> </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <p ng-bind-html="question.question"></p>
            <div ng-repeat="option in question.options">
                <label>
                    <input type="radio" name="{{$parent.$index}}" ng-model="question.userAns" value="{{$index}}" /> 
                    <span ng-bind-html="option.optionText"></span>
                    <i class="fa fa-check-circle" aria-hidden="true" ng-show="$parent.isSubmited&&option.isAns"></i>
                    <i class="fa fa-times-circle" aria-hidden="true" ng-show="$parent.isSubmited&&(question.userAns==$index)&&!option.isAns"></i>
                </label>
            </div>
        </div>
    </div>
</div>
