<div >
		<p>Question Text</p>
	    <div text-angular ng-model="question.questionMarkup" ta-default-wrap="p" ta-target-toolbars='statictoolbar'> </div>
	      <p>Options</p>
	      <!--button ng-click="removeOption($index)" class="btn btn-danger pull-right">delete options</button> 
	      <button ng-click="addOption($index)" class="btn btn-success pull-right">add options</button-->
	      <div ng-repeat="option in question.opctions" class="table-row">
	      	<span class="table-input">
	      		<input type='radio' name="a" ng-model="option.ans" />	      		
	      	</span>
	      	<div  text-angular class="radiooption" ng-model="option.content" ta-default-wrap="p" ta-target-toolbars='statictoolbar'> </div>
	      </div>
	       	
	      	<!--div text-angular ng-model="option2" ta-default-wrap="p" ta-target-toolbars='statictoolbar'> </div-->
	      <!--{{tab.content}}-->
<!--div><button class="btn btn-success pull-right" ng-click="preview()">Preview</button></div--><br />
		<!--button id="addQuestion" ng-click="addQuestionModel()">AddQuestion</button><br /-->
</div>