<header>
  <div class="container">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">గ్రూప్ 2 పాలిటిక్స్ ప్రాక్టీస్ టెస్ట్</h3>
  </div> 
  <div class="panel-body">
    <div class="list-group">
      <a ui-sref="mocktest" class="list-group-item">గ్రూప్ 2 ప్రాక్టీస్ పాలిటిక్స్ టాపిక్ నంబర్ 1</a>
      <a ui-sref="mocktest" class="list-group-item">గ్రూప్ 2 ప్రాక్టీస్ పాలిటిక్స్ టాపిక్ నంబర్ 2</a>
      <a ui-sref="mocktest" class="list-group-item">గ్రూప్ 2 ప్రాక్టీస్ పాలిటిక్స్ టాపిక్ నంబర్ 3</a>
      <a ui-sref="mocktest" class="list-group-item">గ్రూప్ 2 ప్రాక్టీస్ పాలిటిక్స్ టాపిక్ నంబర్ 4</a>
      <a ui-sref="mocktest" class="list-group-item">గ్రూప్ 2 ప్రాక్టీస్ పాలిటిక్స్ టాపిక్ నంబర్ 5</a>
    </div>
  </div>
</div>

  </div>
</header>
<!--div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div-->
