.thing-form {
  margin: 20px 0;
}

.navbar-text {
  margin-left: 15px;
}
.list-group{
  margin-bottom: 0px;
}
.practice-test{
	color: blue !important;
}
.practice-test:hover{
	text-decoration: underline !important;
}
.fa-hand-o-left{
	color: red;
	animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    opacity: .3;
  }
}
@-webkit-keyframes blink-animation {
  to {
    opacity: .3;
  }
}