<header>
  <div class="container">
  <uib-accordion close-others="false">
      <uib-accordion-group is-open="mc.isFirstOpen[$index]" ng-show="subject.isInProd" ng-repeat="subject in mc.subjects">
        <uib-accordion-heading>
          {{subject.displaytext}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': mc.isFirstOpen[$index], 'glyphicon-chevron-right': !mc.isFirstOpen[$index]}"></i>
        </uib-accordion-heading>
        <div class="list-group">
          <a ui-sref="mocktest({ mocktestId: chapter.url })" class="list-group-item practice-test" ng-repeat="chapter in subject.chapters">{{chapter.displaytext}} <i class="fa fa-hand-o-left pull-right" aria-hidden="true"></i></a>
        </div>

      </uib-accordion-group>
  </uib-accordion>
  </div>
</header>
<!--div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div-->
