<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Exams</div>
        <table class="table">
            <tr>
                <th>Name</th>
               <!--  <th>Teacher Name</th>
                <th>Class Name</th> -->
                <th>Expiration</th>
                <th>Duration</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="exam in studentCtrl.exams">
                <td>{{exam.name}}</td>
              <!--   <td>{{exam.authorname}}</td>
                <td>{{exam.className}}</td> -->
                <td>{{exam.expiredate|date:'dd-MM-yyyy'}}</td>
                <td>{{exam.duration|date:'HH:mm'}}</td>
                <td>
                    <a ui-sref="mocktest({ mocktestId: exam._id })">Attempt</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Results</div>
        <table class="table" ng-repeat="report in studentCtrl.reports">
            <thead ng-if="report.length">
                <th>Rank</th>
                <th>Name</th>
                <th>Marks</th>
                <th>Exam</th>
            </thead>
            <tr ng-repeat="result in report | orderBy:'-corrects'">
                <td>{{$index+1}}</td>
                <td>{{result.username}}</td>
                <td>{{result.corrects}}</td>
                <td>{{result.exam}}</td>
            </tr>
        </table>
    </div>
</div>
