.modal-footer{
	border-top: none !important;
}
.coming-soon{
	top: 50%;
    position: relative;
    text-align: center;
}
#timer{
	background-color: #F4F3F3;
	border-radius: 5px;
	padding:0 5px;
	position: fixed;
}
.time-container{
	position: absolute;
	right: 95px;
}