<div class="container" style="position:relative;">
    <div class="time-container" ng-show="mocktestCtrl.mocktest.questions.length" >
        <timer id="timer" duration="mocktestCtrl.duration" class=" pull-right cout-down"></timer> 
        <div ng-if="mocktestCtrl.duration===0&&mocktestCtrl.mocktest.questions.length">
            <span ng-init="mocktestCtrl.showResult()"></span>
        </div>   
    </div>
    <div ng-repeat="question in mocktestCtrl.mocktest.questions">
        <fib-dropdown-preview ng-if="question.type=='fibd'"></fib-dropdown-preview>
        <fib-text-preview ng-if="question.type=='fibt'"></fib-text-preview>
        <mcss-preview ng-if="question.type=='MCSS'" question="question" is-submited="mocktestCtrl.isSubmited"></mcss-preview>
        <mcms-preview question="question" ng-if="question.type=='mcms'">
        </mcms-preview>
        <guidlines-preview ng-if="question.type=='guid'"></guidlines-preview>
    </div>
    <div class="text-center" ng-hide="mocktestCtrl.showSpinner||!mocktestCtrl.mocktest.questions.length">
        <button class="btn btn-primary" ng-click="mocktestCtrl.showResult()">Submit</button>
        <button class="btn btn-default" ng-click="mocktestCtrl.resetAllSelection()">Reset</button>
    </div>
    <div class="loader-layer" ng-show="mocktestCtrl.showSpinner||!mocktestCtrl.mocktest.questions.length">
        <h3 class="coming-soon" ng-hide="mocktestCtrl.mocktest.questions.length">Coming Soon...</h3>
    </div>
    <i class="fa fa-spinner fa-spin" ng-show="mocktestCtrl.showSpinner" ></i>
</div>