.modal-footer{
	border-top: none !important;
}
.coming-soon{
	top: 50%;
    position: relative;
    text-align: center;
}
.sticky-timer{
	position: absolute;
	right:15px;
}
#timer{
	background-color: aliceblue;
}