<div class="container">
  <div class="row" ng-hide="vm.isSuccessfullyResetPwd">
    <div class="col-sm-12">
      <h3>Reset Password</h3>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.resetPassword(form)" novalidate>
        <div class="form-group">
          <label>New Password</label>
          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
            Password must contain at least 3 characters!
          </p>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>

          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.newPassword"
                 ng-minlength="3"
                 required=""/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match!
          </p>
        </div>
        <p class="help-block" ng-show="vm.message">
          <uib-alert type="danger" >{{vm.message}}</uib-alert>
        </p>
        <button class="btn btn-primary" type="submit">Reset Password</button>
      </form>
    </div>
  </div>
  <div class="row" ng-show="vm.isSuccessfullyResetPwd">
    <uib-alert type="success" >{{vm.message}}</uib-alert>
  </div>
</div>
