<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Exams</div>
        <table class="table">
            <tr>
                <th>Exam Name</th>
                <th>Exam Activation</th>
                <th>Exam Expiration</th>
                <th>Duratoin(HH:MM)</th>
                <th>Students</th>
                <th>Action</th>
            </tr>

            <tr ng-repeat="exam in teacherCtrl.conductingExams">
                <td>{{exam.name}}</td>
                <td>{{exam.activationdate | date:'medium'}}</td>
                <td>{{exam.expiredate | date:'medium'}}</td>
                <td>{{exam.duration | date:'HH:mm'}}</td>
                
                <td>{{exam.students.length<3? exam.students.length>1 ? exam.students[0]+','+exam.students[1] : exam.students[0] :exam.students[0]+','+exam.students[1]+', ...'}}</td>
                <td>
                  <a class="button" ui-sref="authoringTool">Author</a>
                  <a class="button fa fa-pencil-square-o" ng-click="teacherCtrl.addEditExam('lg',exam)"></a>
                  <a class="button fa fa-trash" ng-click="teacherCtrl.deleteExam($index)"></a>
                </td>

            </tr>

        </table>
        <div class="panel-footer">
            <div class='row'>
                <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="teacherCtrl.addEditExam('lg')">Add</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Class Rooms</div>
        <table class="table">
            <tr>
                <th>Class Room Name</th>
                <th>Number of Students</th>
                <th>Class Room Id</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="cr in teacherCtrl.createdClasses">
                <td>{{cr.name}}</td>
                <td>{{cr.students.length}}
                <td>{{cr._id}}
                <td>
                  <a class="button fa fa-pencil-square-o" ng-click="teacherCtrl.addEditClass('lg',cr)"></a>
                  <a class="button fa fa-trash" ng-click="teacherCtrl.deleteClassRoom($index)"></a>
                </td>
            </tr>
        </table>
        <div class="panel-footer">
            <div class='row'>
                <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="teacherCtrl.addEditClass('lg')">Add</button>
            </div>
        </div>
    </div>
</div>
