<div class="container">
    <div class="panel panel-default" ng-if="teacherCtrl.role!=='user'">
        <div class="panel-heading">Exams Created
        <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="teacherCtrl.addEditExam('lg')">Create New Exam</button>
        </div>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Activation</th>
                <th>Expiration</th>
                <!-- <th>Duratoin</th> -->
                <th>Action</th>
            </tr>

            <tr ng-repeat="exam in teacherCtrl.conductingExams">
                <td>{{exam.name}}</td>
                <td>{{exam.activationdate | date:'dd-MM-yyyy'}}</td>
                <td>{{exam.expiredate | date:'dd-MM-yyyy'}}</td>
                <!-- <td>{{exam.duration | date:'HH:mm'}}</td> -->
                <td>
                  <a class="button" ui-sref="authoringTool({ examId: exam._id })" ng-if="teacherCtrl.role!=='user'">Author</a>
                  <a class="button fa fa-pencil-square-o" ng-click="teacherCtrl.addEditExam('lg',exam)" ng-if="teacherCtrl.role!=='user'"></a>
                  <!-- <a class="button fa fa-trash" ng-click="teacherCtrl.deleteExam($index)"></a>  -->
                </td>
            </tr>
        </table>
    </div>    
    <div class="panel panel-default">
        <div class="panel-heading">Exams to Attempt
        </div>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Activation</th>
                <th>Expiration</th>
                <!-- <th>Duratoin</th> -->
                <th>Action</th>
            </tr>

            <tr ng-repeat="exam in teacherCtrl.exams">
                <td>{{exam.name}}</td>
                <td>{{exam.activationdate | date:'dd-MM-yyyy'}}</td>
                <td>{{exam.expiredate | date:'dd-MM-yyyy'}}</td>
                <!-- <td>{{exam.duration | date:'HH:mm'}}</td> -->
                <td>
                  <a class="button" ui-sref="mocktest({ mocktestId: exam._id })">Attempt</a>
                </td>
            </tr>

        </table>
    </div>
    <div class="panel panel-default" ng-if="teacherCtrl.role!=='user'">
        <div class="panel-heading">Class Rooms
        <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="teacherCtrl.addEditClass('lg')">Create Class Room</button>
        </div>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>#Students</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="cr in teacherCtrl.createdClasses">
                <td>{{cr.name}}</td>
                <td>{{cr.students.length}}
                <td>
                  <a class="button fa fa-pencil-square-o" ng-click="teacherCtrl.addEditClass('lg',cr)"></a>
                  <!-- <a class="button fa fa-trash" ng-click="teacherCtrl.deleteClassRoom($index)"></a> -->
                </td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default" ng-repeat="report in teacherCtrl.studentReports">
        <div class="panel-heading">Results of the conducted exam {{report[0].exam}}</div>
        <table class="table table-hover" >
            <thead >
                <th>Rank</th>
                <th>Name</th>
                <th>Marks</th>
            </thead>
            <tr ng-repeat="result in report | orderBy:'-corrects'">
                <td>{{$index+1}}</td>
                <td>{{result.username}}</td>
                <td>{{result.corrects}}</td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default" ng-repeat="report in teacherCtrl.teacherReports">
        <div class="panel-heading">Results of the attended exam {{report[0].exam}}</div>
        <table class="table table-hover" >
            <thead >
                <th>Rank</th>
                <th>Name</th>
                <th>Marks</th>
            </thead>
            <tr ng-repeat="result in report | orderBy:'-corrects'">
                <td>{{$index+1}}</td>
                <td>{{result.username}}</td>
                <td>{{result.corrects}}</td>
            </tr>
        </table>
    </div>
</div>
