<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Exams</div>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Activation</th>
                <th>Expiration</th>
                <!-- <th>Duratoin</th> -->
                <th>Action</th>
            </tr>

            <tr ng-repeat="exam in teacherCtrl.conductingExams">
                <td>{{exam.name}}</td>
                <td>{{exam.activationdate | date:'dd-MM-yyyy'}}</td>
                <td>{{exam.expiredate | date:'dd-MM-yyyy'}}</td>
                <!-- <td>{{exam.duration | date:'HH:mm'}}</td> -->
                <td>
                  <a class="button" ui-sref="authoringTool">Author</a>
                  <a class="button fa fa-pencil-square-o" ng-click="teacherCtrl.addEditExam('lg',exam)"></a>
                  <!-- <a class="button fa fa-trash" ng-click="teacherCtrl.deleteExam($index)"></a>  -->
                </td>

            </tr>

        </table>
        <div class="panel-footer">
            <div class='row'>
                <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="teacherCtrl.addEditExam('lg')">Add</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Class Rooms</div>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>#Students</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="cr in teacherCtrl.createdClasses">
                <td>{{cr.name}}</td>
                <td>{{cr.students.length}}
                <td>
                  <a class="button fa fa-pencil-square-o" ng-click="teacherCtrl.addEditClass('lg',cr)"></a>
                  <!-- <a class="button fa fa-trash" ng-click="teacherCtrl.deleteClassRoom($index)"></a> -->
                </td>
            </tr>
        </table>
        <div class="panel-footer">
            <div class='row'>
                <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="teacherCtrl.addEditClass('lg')">Add</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-if="report.length" ng-repeat="report in teacherCtrl.reports">
        <div class="panel-heading">Results of {{report[0].exam}}</div>
        <table class="table table-hover" >
            <thead >
                <th>Rank</th>
                <th>Name</th>
                <th>Marks</th>
            </thead>
            <tr ng-repeat="result in report | orderBy:'-corrects'">
                <td>{{$index+1}}</td>
                <td>{{result.username}}</td>
                <td>{{result.corrects}}</td>
            </tr>
        </table>
    </div>
</div>
